.padding-supr
    padding 0
    &-right-7
        padding-right 7px
    &-left-7
        padding-left 7px 
    &-right-5
        padding-right 5px
    &-left-5
        padding-left 5px            
.margin-supr
    margin 0
    &-bottom-5
        margin-bottom 5px
.list-submenu
    margin-left 10px
    border-left 3px solid #16a085
    &>ul>li>a
        color #868484
        &:hover
            color #848484
            background-color #bcfff2
.list-menu
    background-color #fbfafa  
    color #868484
    &:hover
        background-color #bcfff2
        color #868484    
.green-navbar
    background-color #16a085
.card
    border-radius 0 
.table
    margin-bottom: 0
